Flux conditionnel avec if

Exemple:
-ecrire un code python qui permet de saisir un nombre entier 
-par la suite , vous allez controler/verifier le signe de nombre

 si nombre est stricetement posistif alors afficher nombre positif 
 sinonsi nombre est strictement negatif alors affichger nombre est negatif 
sinon nombre est nul

In [1]:
nombre=int(input('Entrer un nombre:'))
if nombre>0:
     print(nombre,'est positif')
elif nombre<0:
  print(nombre,'est negatif')
else:
  print(nombre,'est nulle')

2 est positif

Les listes

In [2]:
noms=[] #liste vide

In [3]:
type(noms)

list

In [4]:
len(noms)

0

In [5]:
noms=["ali","sonia","rahma"]

In [6]:
len(noms)

3

In [7]:
noms.append("mariem") #ajouter a la fin

In [8]:
noms

['ali', 'sonia', 'rahma', 'mariem']

In [9]:
noms.append(10)

In [10]:
noms

['ali', 'sonia', 'rahma', 'mariem', 10]

In [11]:
x=10

In [12]:
x

10

In [13]:
del x

In [14]:
x

NameError: name 'x' is not defined

In [15]:
noms[-1] #dernier elements de la liste

10

In [16]:
del noms[-1]

In [17]:
noms

['ali', 'sonia', 'rahma', 'mariem']

Indexation

In [18]:
noms[2] # element d'indice 2

'rahma'

In [19]:
noms[-1] # indice negatif -1 designe dernier element

'mariem'

Slicing

In [20]:
noms [0:3] #recuperer sous-liste composée des 3 premiers elements

['ali', 'sonia', 'rahma']

In [21]:
#recuperer les 3 derniers elements 
noms[1:]

['sonia', 'rahma', 'mariem']

In [22]:
noms [:3] #recuperer sous-liste composée des 3 premiers elements

['ali', 'sonia', 'rahma']

In [23]:
#sous liste composée de 2eme et 3eme elements
noms[1:3]
noms[-3:3]
noms[1:-1]
noms[-3:-1]

['sonia', 'rahma']

Inversion (slicing  avec pas negative)

In [24]:
noms[3:1]

[]

In [25]:
noms[3:1:1] #reellemnt python avance de gauche vers droit

[]

In [26]:
noms[3:1:-1]

['mariem', 'rahma']

In [27]:
noms[::]

['ali', 'sonia', 'rahma', 'mariem']

In [28]:
noms[::-1]

['mariem', 'rahma', 'sonia', 'ali']

In [29]:
noms.reverse() # mise a jours de la liste

In [30]:
noms

['mariem', 'rahma', 'sonia', 'ali']

In [31]:
noms1=noms.copy()
noms1

['mariem', 'rahma', 'sonia', 'ali']

In [32]:
noms==noms1 #test de l'egalite de contenu

True

In [33]:
noms is noms1  #test de l'identite de l'espace memoire

False

In [34]:
noms.extend(['A','B'])

In [35]:
noms

['mariem', 'rahma', 'sonia', 'ali', 'A', 'B']

In [36]:
noms.append(['A','B']) #append ajouter comme liste A, B

In [37]:
noms

['mariem', 'rahma', 'sonia', 'ali', 'A', 'B', ['A', 'B']]

Boucle for

On va afficher les elements de la liste noms element par element

In [38]:
noms=['sonia','rahma','saleh']

In [39]:
nom=noms[0]
print(noms[0])
nom=noms[1]
print(noms[1])
nom=noms[2]
print(noms[2])

sonia
rahma
saleh

In [40]:
#ou bien
for nom in noms:
    print(nom)

sonia
rahma
saleh

In [41]:
for nom in noms:
    nom=nom.upper() #upper = majuscule

In [42]:
noms

['sonia', 'rahma', 'saleh']

In [43]:
i=0
print(noms[i])
i=1
print(noms[i])
i=2
print(noms[i])

sonia
rahma
saleh

In [44]:
for i in [0,1,2]:
    print(noms[i])

sonia
rahma
saleh

In [45]:
#Generer une sequence des entiers qui :
#commence par 1
#incremente par 2 
#s'arrete a 10-1
#sequence : 1, 3 , 5 , 7 ,9
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [46]:
list(range(0,3)) # par defaut l pas 1

[0, 1, 2]

In [47]:

list(range(3)) #par defaut yebda b 0

[0, 1, 2]

In [48]:
list(range(len(noms))) #len ichouf list lkol lel lekhr

[0, 1, 2]

In [49]:
for i in range (len(noms)):
    print(noms[i])

sonia
rahma
saleh

In [50]:
for i in range (len(noms)):
    noms[i]=noms[i].upper()

In [51]:
noms

['SONIA', 'RAHMA', 'SALEH']

In [53]:
#Enter un nom produit : et donner  prix=350 qte=10 et nom=MO et chercher nomproduit=lave-veiselle et afficher lave veiselle n'exite pas 
nom=['tv','Mo','RFG']
prix=[1200,350,1800]
quantite=[5,10,8]

In [54]:
nom[1]

'Mo'

In [55]:
prix[2]

1800

In [56]:
quantite[2]

8

In [57]:
produits = ['tv', 'ordinateur', 'imprimante', 'tablette']
prix = [300, 600, 200, 400]
quantite = [10, 5, 2, 7]
product = input("Enter the product name: ")

if product in produits:
    index = produits.index(product)
    print("The product exists in the list.")
    print("Price:", prix[index])
    print("Quantity:", quantite[index])
    
else:
    print("The product does not exist in the list.")

The product exists in the list.
Price: 300
Quantity: 10